# ! temporary until cmake is set up
bin/
lib/
include/

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll
*.so.*

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# Build directories
build/